@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    word-break: keep-all;/*가독성up*/
}
/******START : 태그 기본 스타일 삭제 (초기화)*********/
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;/*브라우저가 주는 기본 값 무시*/
    font-weight: inherit;
}
li {
    list-style: none; /*앞에 동그라미 삭제*/
}
* { /*모든 태그 여백 빼기(여백은 상속이 안되기때문에 body에서 안빼고 와이드카드로 제거*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /**/
} 
a {
    color: inherit;
    text-decoration: none;
}
/******END : 태그 기본 스타일 삭제 (초기화)*********/
.wrapper {
    width: 1260px;
    margin: 0 auto;/*가운데 정렬*/
}
.color {
    margin: 130px 0 0 0;
}
.color .tit h1 {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 42px 0;
}
.color .list {
    margin: 62px 0 0 0;
}
.color .list ul { /*list에 주면 안되고 ul에 줘야함*/
    display: flex; /*나 (ul)를 기준으로 하위 태그(li만)들을 가로로 배치*/
    justify-content: space-between;
}
.color .list ul li { /* 뒷 배경 넓이 제한 주는 법*/
    width: 297px;
}
.color .list ul li h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    height: 387px; /*백그라운드 새로 길이*/
    border-radius: 10px;/*모서리 둥글게*/
    padding: 29px 0 0 29px;
}
/*li.item1 (공백없음) li태그들 중에서 item1 클래스 명을 갖는 요소를 선택한단 뜻*/
.color .list ul li.item1 h2 {
    background-color: #00ad1d;
}
.color .list ul li.item2 h2 {
    background-color: #008233;
}
.color .list ul li.item3 h2 {
    background-color: #003087;
}
.color .list ul li.item4 h2 {
    background-color: #002554;
}
.color .list ul li p {
    margin: 11px 0 0 10px;
}

.int {
    margin: 193px 0 0 0;
}
.int .wrapper {
    display: flex;
    justify-content: space-between;
    /*flex로 정렬 - wapper넓이 안에있는 h1과 inner룰 좌우로 배치한 것.*/
}
.int .inner {
    width: 689px;
}
.int h1,
.int .tit .sub_tit {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
}
.int .tit .sub_tit {
    margin: 0 0 45px 0;
}
.int .list {
    margin: 31px 0 0 0;
}
.int .list ul li {
    border-bottom: 1px solid #ededed; /*밑에 줄 그어주기*/
    padding: 27px 0 ;
    display: flex;
    /* 두개 이상의 태그가 좌우로 나란히 들어가면 무조건 displaly:flex:를 줘서 좌우로 배치.*/
}
.int .list ul li:first-child{ /*li중에서 첫번째 li지정해서 상단에 선 추기*/
    border-top: 1px solid #ededed;
}
.int .list ul li strong { /*inline태그라 넓이 안들어감,display-block,flex줘서 좌우 배치*/
    width: 222px;
    display: block;
    color: #1d1d1d;
    font-weight: 700;
}
.btn {
    margin: 193px 0 0 0;
}
.btn h1 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.btn .btn_wrap {
    margin: 61px 0 0 0;
    display: flex;
    gap:10px ; /*여백*/
}
.btn .btn_wrap a {
    color: #fff;
    display: block; /**a뒤에 항상 주기**/
    padding: 9px 20px ; 
}
.btn .btn_wrap a.all {
    background-color: #3d3d3d;
}
.btn .btn_wrap a.ok {
    background-color: #008233;
}
.btn .btn_wrap a.cancel {
    background-color: #ff0000;
}


body {
    margin: 0 0 200px 0;
}
